@import @import url("https://use.typekit.net/ssc2rrr.css");

body {
    background-color: #EAE7DC;
}

.logo {

    width: 100px;
    top: 30px;
    left: 100px;

}

.menu {
    font-family: mr-eaves-modern, sans-serif;
    display: inline-block;
    float: right margin-top: 25px;

}

h1 {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

h2 {
    font-family: mr-eaves-modern, sans-serif;
    font-size: 2.2em;
    /* px, em, rem, % */
    line-height: 1.2em;
    text-align: justify;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: gray;
    font-weight: 100;
}

/* mouse over link */
a:hover {
    color: #E98074;
}

/* selected link */
a:active {
    color: #E98074;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.footer {
    font-family: mr-eaves-modern, sans-serif;
    display: inline-block;
    float: left;
    margin-top: 25px;
}

.grafik {
    width: 100px;
    top: 30px;
    right: 10px;
}
