@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #EAE7DC;
}

.logo {
    margin-left: 50px;
    width: 100px;
    top: 30px;
}

.menu {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    display: inline-block;
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}

.menu a {
    margin-left: 15px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.7em;
    /* px, em, rem, % */
    line-height: 1.3em;
    text-align: left;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    /* px, em, rem, % */
    line-height: 0.9em;
    text-align: left;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.7em;
    /* px, em, rem, % */
    line-height: 1.3em;
    text-align: left;
}

/* unvisited link */
a:link {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 100;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    font-family: 'Open Sans', sans-serif;
    color: #E98074;
    text-decoration: none;
}

/* selected link */
a:active {
    font-family: 'Open Sans', sans-serif;
    color: #E98074;
    text-decoration: none;
}

/*
.imageblock {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}*/

/*** Page structure ***/
.content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-banner {}

.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/*** Styling Grid ***/
.main {
    padding-right: 40px;
}

.side-column-image {
    max-width: 100%;
    height: auto;
    margin-top: 50px;

}

/*Footer*/

.footer {
    font-family: 'Open Sans', sans-serif;
    /*margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.footer-left {
    font-weight: 400;
    font-style: normal;
    font-size: 1em;

    line-height: 1.5em;
    text-align: left;
    margin-top: 15px;
    margin-left: 50px;
}

.footer-middle {
    font-weight: 400;
    font-style: normal;
    font-size: 1em;

    line-height: 1.5em;
    text-align: left;
}

.grafik {
    width: 100px;
    top: 30px;
    border-bottom: 12%;
    float: right;
    margin-right: 50px;
}

/* Create three equal columns that sits next to each other */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;

}

.grid-container div:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
}


/* Responsive layout - makes one column-layout instead 2 or 3 columns */
@media screen and (max-width: 320px) {
    .content-grid {
        grid-template-columns: auto;
    }

    .grid-container {
        grid-template-columns: auto;
    }

    .grid-container div:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
    }

    .footer {
        grid-template-columns: auto;
    }

    .footer-middle {
        margin-left: 50px;
    }
}

.responsive {
    max-width: 100%;
    height: auto;
}

.content-banner iframe.responsive {
    width: 100%;
    height: 500px;
}

@media screen and (max-width: 320px) {
    .content-banner iframe.responsive {
        height: 300px;
    }
}

/*** End Page structure ***/

/** Portfolio.html */
.teaser:hover {
    opacity: 0.7;
    background-color: #1c1b1a;
}

/*About Text*/
.about-text {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.portfolio .menu a:nth-child(1),
.about .menu a:nth-child(2) {
    text-decoration: underline;
}

.aboutgrafik {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

/*
.right-column {
    position: fixed;
    display: inline-block;
    float: right;
    overflow: hidden;
    width: 30%;
    padding-left: 20px;
    margin-top: 10px;
}<

.left-column {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 70%;
    padding-right: 20px;
}
*/
.image-side {
    display: inline-block;
    width: 100%;
    margin-right: 50px;

}

/*Video*/
.cycleguide-video video {
    width: 100% !important;
    height: auto !important;

}

/*link*/
.links {
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    display: inline-block;
    float: left;
    margin-top: 25px;

}

/*UFO Animation*/

#ufo {
    max-width: 200px;
}

#animateme {
    width: 50%;
    outline: 2px black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    background: transparent;
    color: black;
    border: 2px solid black;
    height: 38px;
    line-height: 20px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 0, 5;
    animation-timing-function: cubic-bezier(.63, .27, .8, .39);
    animation-iteration-count: 3;

}

@keyframes shake {
    0% {
        transform: translate(0vw, 0vh) rotate(0deg);
    }

    25% {
        transform: translate(5vw, 2vh) rotate(50deg);
    }

    75% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(-5vw, 2vh) rotate(-50deg);
    }

}

/**Index page*/

.index header {
    display: none;
}

.index .about-text h1 {
    text-align: center;
    margin: auto;
}

#index-portrait {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/**basic web*/
.side-video {
    width: 100%;
    height: 240px;
    margin-top: 50px;
}
